---
const members = [
    { id: 1, name: 'Ahmad Raihan Maulana Setiawan', subdomain: 'raihan', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 2, name: 'Andini Azaria Zahra', subdomain: 'andini', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 3, name: 'Arrosyid Al Ayubi', subdomain: 'arrosyid', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 4, name: 'Arum Kusuma Dewi', subdomain: 'arum', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 5, name: 'Azzura Agustina', subdomain: 'azzura', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 6, name: 'Diaz Prasojo', subdomain: 'diaz', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 7, name: 'Diaz Shandika Firdaus', subdomain: 'dika', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 8, name: 'Gladys Aditya Ramadhan', subdomain: 'gladys', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 9, name: 'Farah Hilallia Alvina', subdomain: 'farah', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 10, name: 'Haikal Azhar', subdomain: 'haikal', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 11, name: 'Harsya Pandawa', subdomain: 'harsya', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 12, name: 'Hisyam Arief Firmansyah', subdomain: 'hisyam', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 13, name: 'Ihwan Ramadani', subdomain: 'ihwan', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 14, name: 'Isma Khoyriyah', subdomain: 'isma', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 15, name: 'Liza Zulaikha', subdomain: 'liza', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 16, name: 'Maylova Chayananda', subdomain: 'maylova', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 17, name: 'Muhamad Gilang Ramadan', subdomain: 'gilang', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 18, name: 'Muhammad Rizqi Rahman', subdomain: 'rizqi', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 19, name: 'Muhammad Shandi Yudha', subdomain: 'shandi', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 20, name: 'Muhammad Zaky Permana', subdomain: 'zaky', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 21, name: 'Rayhan Priyonggo', subdomain: 'rayhan', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 22, name: 'Refael Gomgom Sibarani', subdomain: 'refael', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 23, name: 'Rifky Chaezario Hidayat', subdomain: 'rifky', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 24, name: 'Rizka Nur Juniarti', subdomain: 'princess', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 25, name: 'Rizky Nur Rahman', subdomain: 'kyyiell', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 26, name: 'Sultan Muhammad Syafiq', subdomain: 'sultan', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 27, name: 'Surya Aji Prasetya', subdomain: 'surya', pdf: 'https://pdf.kelas10sifp.my.id' },
    { id: 28, name: 'Zaqi Alfataillah', subdomain: 'zaqi', pdf: 'https://pdf.kelas10sifp.my.id' },
];
---

<section id="anggota" class="bg-white p-5 md:p-20 h-full">
    <div class="mx-auto max-w-7xl px-4 lg:px-12">
        <h2 class="text-2xl font-bold mb-4 text-center">Anggota Kelas 01SIFP010</h2>
        <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden mt-10">
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left text-white">
                    <thead class="text-lg  uppercase bg-gray-500 text-white">
                        <tr>
                            <th scope="col" class="px-4 py-3">No</th>
                            <th scope="col" class="px-4 py-3">Nama Anggota</th>
                            <th scope="col" class="px-4 py-3">Link Website</th>
                            <th scope="col" class="px-4 py-3">PDF</th>
                        </tr>
                    </thead> 
                    <tbody>
                        {members.map((member) => (
                            <tr class="border-b border-gray-700">
                                <td class="px-4 py-3 text-gray-900">{member.id}</td>
                                <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap">{member.name}</th>
                                <td class="px-4 py-3 text-gray-900">
                                    <a href={`https://${member.subdomain}.kelas10sifp.my.id`} target="_blank" class="hover:underline">
                                        {`https://${member.subdomain}.kelas10sifp.my.id`}
                                    </a>
                                </td>
                                <td class="px-4 py-3 text-gray-900">
                                    <a href={member.pdf} target="_blank" class="hover:underline">
                                        Link PDF
                                    </a>
                                </td>
                            </tr>
                        ))}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </section>